manifest.defaultBranch = 'main'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.runOptions = '--contain --bind $(pwd):/tmp'
nextflow.enable.moduleBinaries = true

params {
    out = "out"
    bams = false
    gafs = false
    vcfs = false
    bed = false
    lift = false
    graph_mods = false
    graph = "graph.gfa"
    code = "C+m."
    missing = 0
    motif = "CG"
    aligner = "GraphAligner"
    cpus = 40
    memory =  '180G'
    time = '24h'
}


profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.scratch = '$SLURM_TMPDIR'
    }

    cloud {
        process.executor = 'aws'
    }
}

process {
    withName: 'bamtags_to_BED' {
        cpus = 2
        memory = 50.GB
        time = 6.h
        }
    withName: 'epigenome_to_CSV' {
        cpus = 1
        memory = 60.GB
        time = 6.h
        publishDir {
          enabled = false
              }
        }
    withName: 'merge_CSV' {
        cpus = 1
        memory = 60.GB
        time = 6.h
    }
    withName: 'align_minigraph' {
        cpus = params.cpus
        memory = params.memory
        time = params.time
    }
    withName: 'align_graphaligner' {
        cpus = params.cpus
        memory = params.memory
        time = params.time
    }
    withName: 'index_graph' {
        cpus = 1
        memory = 40.GB
        time = 6.h
    }
    withName: 'annotate_VCF' {
        cpus = 1
        memory = 40.GB
        time = 6.h
  }
  withName: 'BED_to_graph' {
        cpus = 1
        memory = 40.GB
        time = 6.h
  }
  withName: 'annotate_BED' {
        cpus = 1
        memory = 40.GB
        time = 6.h
  }
  withName: 'lift_nucleotides' {
        cpus = 1
        memory = 40.GB
        time = 6.h
    }
}
