manifest.defaultBranch = 'main'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.runOptions = '--contain --bind $(pwd):/tmp'

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.scratch = '$SLURM_TMPDIR'
    }

    cloud {
        process.executor = 'aws'
    }

}